/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
} */

#stage {
  position: relative;

  width: 601px;
  height: 582px;
  z-index: -10;
}

/* turtle itslef */
/* #stage svg {
  position: absolute;
  top: 0;
  z-index: -1;
} */

#fullturtle {
  /* background-color: red; */
  position: relative;
  bottom: 400px; 
  left: 100px; 
  /* z-index: -8; */
  
}

/* input[type="text"], #search {
  position: absolute;
  z-index: 10; 
} */

.square1 {
  position: relative;
  right: 525px;
  bottom: 660px;
  fill: pink;
  width: 100px;
  height: 100px;
  z-index: 102;
  scale: 2.5;
}

.square1 > path:not(.g-coral1) {
  fill: darksalmon;
}
.g-coral1 {
  stroke: darksalmon
}


.square2 {
  scale: 1.5;
  position: relative;
  left: 200px;
  bottom: 696px;
  width: 100px;
  height: 100px;
  z-index: 103;
  stroke: rgb(128, 48, 48);
}
.square2 > path:not(.square2) {
  fill: rgb(224, 158, 158);
}

.square3 {
  scale: 1.75;
  position: relative;
  left: 200px;
  bottom: 696px;
  width: 100px;
  height: 100px;
  z-index: 104;
  transform: scaleX(-1);
  stroke:rgb(153, 110, 46);
}
.square3 > path:not(.square3) {
  fill: rgb(241, 204, 135);
}

.square4 {
  position: relative;
  left: 210px;
  bottom: 746px;
  width: 100px;
  height: 100px;
  z-index: 105;
  scale: 2.5;
  stroke:purple;
}
.square4 > path:not(.square4) {
  fill: plum;
}

.square5 {
  position: relative;
  left: 190px;
  bottom: 780px;
  width: 100px;
  height: 100px;
  z-index: 106;
  stroke: rgb(11, 52, 65);
  fill: rgb(24, 178, 189);
  scale:3;
  cursor: pointer;
  pointer-events: all;
}
.sea-tentacle {
  stroke: green;
  fill: lightblue;
  cursor: pointer;
  pointer-events: all;
}

.square6 {
  position: relative;
  left: 200px;
  bottom: 735px;
  width: 100px;
  height: 100px;
  z-index: 107;
  scale: 2.5;
  fill: rgb(243, 219, 5);
}
.square6 > path:not(.square6) {
  stroke: rgb(155, 90, 117);
}




/* Doodle Stage */
#stage {
  background: #ccc;
  height: 400px;
  width: 800px;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}