/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

#stage {
  position: relative;

  width: 601px;
  height: 582px;
  z-index: -2;
}

/* turtle itslef */
#stage svg {
  position: absolute;

  top: 0;
  left: 100px;
  padding-bottom: 500px;
  z-index: -1;
}

/* input[type="text"], #search {
  position: absolute;
  z-index: 10; 
} */


/* Doodle Stage */
#stage {
  background: #ccc;
  height: 400px;
  width: 800px;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}