/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

#stage {
  position: relative;

  width: 601px;
  height: 582px;
  z-index: -10;
}

/* turtle itslef */
/* #stage svg {
  position: absolute;
  top: 0;
  z-index: -1;
} */

#fullturtle {
  /* background-color: red; */
  position: relative;
  bottom: 400px; 
  left: 100px; 
  /* z-index: -8; */
  
}

/* input[type="text"], #search {
  position: absolute;
  z-index: 10; 
} */

.square1 {
  position: relative;
  right: 525px;
  bottom: 589px;
  border: solid pink 3px;
  /* fill: red; */
  width: 100px;
  height: 100px;
  z-index: 2;
}


.square2 {
  scale: 2;
  position: relative;
  left: 200px;
  bottom: 696px;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.square3 {
  scale: 2;
  position: relative;
  left: 200px;
  bottom: 696px;
  width: 100px;
  height: 100px;
  z-index: 4;
  transform: scaleX(-1);
}

.square4 {
  position: relative;
  left: 200px;
  bottom: 696px;
  border: solid rgb(97, 171, 255) 3px;
  width: 100px;
  height: 100px;
  z-index: 5;
}

.square5 {
  position: relative;
  left: 200px;
  bottom: 696px;
  border: solid rgb(97, 171, 255) 3px;
  width: 100px;
  height: 100px;
  z-index: 6;
}

.square6 {
  position: relative;
  left: 200px;
  bottom: 696px;
  border: solid rgb(97, 171, 255) 3px;
  width: 100px;
  height: 100px;
  z-index: 7;
}

.seaweed {
  position: relative;
  right: 540px;
  bottom: 696px;
  width: 100px;
  height: 100px;
  z-index: 1;
}


/* Doodle Stage */
#stage {
  background: #ccc;
  height: 400px;
  width: 800px;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}